/* formatting for global site header */

.site_header {
	height: 30px;
	width: 100%;
	background-color: #FFFFFF;
	margin-bottom: 15px;
	border-bottom: 1px solid black
}

.header_item {
	font-size: 20px;
	margin-right: 20px;
    bottom: 0;
	vertical-align: text-bottom;
	text-align: center;
	text-decoration: none;
	color: black;
	position: relative;
	float: left;
}

/* formatting for selection interface */

.choice_box {
	text-align: left;
	border: 1px solid black;
	width: 540px;
	max-width: 90%;
	padding: 25px;
}

.choice_header {
	font-size: 1.5em;
}

/* formatting for sudoku puzzles */

.sudoku_container {
	width: 100%;
		border-collapse: collapse;
	border: 2px solid;
}
.sudoku_tile {
	width: 11.1%;
	text-align: center;
	position: relative;
	border: 1px solid black;
	vertical-align: middle;
}
.sudoku_tile:after {
	content: '';
	display: block;
	margin-top: 100%;
}

/* grid lines within sudoku grid */

.sudoku_tile:first-child {
	border-left: 2px solid;
}
.sudoku_tile:nth-child(3n) {
	border-right: 2px solid ;
}
.sudoku_row:first-child {
	border-top: 2px solid;
}
.sudoku_row:nth-child(3n) .sudoku_tile {
	border-bottom: 2px solid;
}

.sudoku_number {
	position: absolute;
	font-size: 30px;
	padding: 13px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* sudoku info box */

#sudoku_info {
	text-align: center;
	max-width: 538px;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* sudoku form */

.sudoku_form {

}

.sudoku_input {
    outline-width: 0;
	text-align: center;
	align-self: center;
	font-family: 'Lucida Casual', 'Comic Sans MS';
	background-color: rgba(0, 0, 0, 0);
	color: #666666;
	border: none;
	width: 32px;
	position: absolute;
	font-size: 30px;
	padding: 13px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}