/* formatting for global site header */

.site_header {
    height: 39.5px;
	width: 100%;
	background-color: #555566;
	margin-bottom: 15px;
}

.header_item {
	font-size: 20px;
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    bottom: 0;
	vertical-align: text-bottom;
	text-align: center;
	text-decoration: none;
    color: #DDDDEE;
	position: relative;
	float: left;
}

.header_item:hover {
	color: white;
}

/* formatting for selection interface */

.choice_box {
	text-align: left;
	border: 1px solid black;
	width: 540px;
	max-width: 90%;
	padding: 25px;
}

.choice_header {
	font-size: 1.5em;
}

/* formatting for sudoku puzzles */

.sudoku_container {
	width: 100%;
		border-collapse: collapse;
	border: 2px solid;
}
.sudoku_tile {
	width: 11.1%;
	text-align: center;
	position: relative;
	border: 1px solid black;
	vertical-align: middle;
	cursor: default;
	-webkit-user-select: none;
}
.sudoku_tile:after {
	content: '';
	display: block;
	margin-top: 100%;
}

/* grid lines within sudoku grid */

.sudoku_tile:first-child {
	border-left: 2px solid;
}
.sudoku_tile:nth-child(3n) {
	border-right: 2px solid ;
}
.sudoku_row:first-child {
	border-top: 2px solid;
}
.sudoku_row:nth-child(3n) .sudoku_tile {
	border-bottom: 2px solid;
}

.sudoku_input {
	outline-width: 0;
	text-align: center;
	align-self: center;
	font-family: Comic Sans MS, sans-serif;
	background-color: rgba(0, 0, 0, 0);
	color: #666666;
	border: none;
	width: 32px;
	position: absolute;
	font-size: 30px;
	padding: 13px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* sudoku info box */

#sudoku_info {
	text-align: center;
	max-width: 538px;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* sudoku form */

.pencil_mark {
	width: 33%;
	height: 33%;
	float: left;
	font-size: 13px;
	font-family: Comic Sans MS, sans-serif;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0);
	position: relative;
	text-align: center;
}

.full_mark {
	width: 100%;
	font-size: 30px;
	font-family: Comic Sans MS, sans-serif;
	z-index: 2;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: rgba(0, 0, 0, 0);
}

.immutable {
	padding-top: 13px;
	padding-bottom: 11px;
	font-family: Times New Roman, serif;
}