/* formatting for sudoku puzzles */

.sudoku_container {
	width: 100%;
		border-collapse: collapse;
	border: 2px solid;
}

.sudoku_tile {
	width: 10.0%;
	text-align: center;
	position: relative;
	border: 1px solid black;
	vertical-align: middle;
	cursor: default;
	-webkit-user-select: none;
}

.sudoku_tile:after {
	content: '';
	display: block;
	margin-top: 100%;
}

/* grid lines within sudoku grid */

.sudoku_tile:first-child {
	border-left: 2px solid;
}
.sudoku_tile:nth-child(3n+1) {
	border-right: 2px solid ;
}
.sudoku_row:first-child {
	border-top: 2px solid;
}
.sudoku_row:nth-child(3n+1) .sudoku_tile {
	border-bottom: 2px solid;
}

.sudoku_input {
	outline-width: 0;
	text-align: center;
	align-self: center;
	font-family: Comic Sans MS, sans-serif;
	background-color: rgba(0, 0, 0, 0);
	color: #666666;
	border: none;
	width: 32px;
	position: absolute;
	font-size: 30px;
	padding: 13px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}