/* formatting for sudoku puzzles */

.sudoku_container {
	width: 100%;
	border-collapse: collapse;
}

.sudoku_tile {
	width: 60px;
	text-align: center;
	position: relative;
	border: 1px solid black;
	vertical-align: middle;
	cursor: default;
	-webkit-user-select: none;
}

.sudoku_tile:after {
	content: '';
	display: block;
	margin-top: 100%;
}

.variable_grid_width {
	width: 600px;
}

.two_column {
	-webkit-column-width: 600px;
	-moz-column-width: 600px;
	column-width: 600px;
}

/* grid lines within sudoku grid */

.sudoku_tile:nth-child(3n+1) {
	border-right: 2px solid ;
}

.sudoku_row:nth-child(3n+1) .sudoku_tile {
	border-bottom: 2px solid;
}

/* display-specific */

.sudoku_tile:first-child {
	border-left: none;
	border-top: none;
	border-bottom: none;
}

.sudoku_row:first-child .sudoku_tile {
	border-left: none;
	border-right: none;
	border-top: none;
}

.sudoku_row:nth-child(3n+1) .sudoku_tile:first-child {
	border-bottom: none;
}

/* solve-specific */

.sudoku_tile.sum:first-child {
	border-left: dotted;
	border-top: dotted;
	border-bottom: dotted;
}

.sudoku_row:first-child .sudoku_tile.sum {
	border-left: dotted;
	border-right: dotted;
	border-top: dotted;
}

.sudoku_row:nth-child(3n+1) .sudoku_tile.sum:first-child {
	border-bottom: dotted;
}

.sudoku_container {
	width: 600px;
	transform: translateX(-60px);
}

.sudoku_container.form_input {
	transform: translateX(0);
}

/* sudoku info box */

#sudoku_info {
	vertical-align: top;
	text-align: center;
	max-width: 538px;
	margin-top: 30px;
	margin-bottom: 15px;
}