/* formatting for sudoku puzzles */

.sudoku_container {
	width: 100%;
	border-collapse: collapse;
}

.sudoku_tile {
	width: 10.0%;
	text-align: center;
	position: relative;
	border: 1px solid black;
	vertical-align: middle;
	cursor: default;
	-webkit-user-select: none;
}

.sudoku_tile:after {
	content: '';
	display: block;
	margin-top: 100%;
}

/* grid lines within sudoku grid */

.sudoku_tile:first-child {
	border-left: none;
	border-top: none;
	border-bottom: none;
}

.sudoku_tile:nth-child(3n+1) {
	border-right: 2px solid ;
}

.sudoku_row:first-child .sudoku_tile {
	border-left: none;
	border-right: none;
	border-top: none;
}

.sudoku_row:nth-child(3n+1) .sudoku_tile {
	border-bottom: 2px solid;
}

.sudoku_row:nth-child(3n+1) .sudoku_tile:first-child {
	border-bottom: none;
}