<!doctype html>
<head>
	{% if title %}
		<title>Sudokugen | {{ title }}</title>
	{% else %}
		<title>Sudokugen</title>
	{% endif %}
	<meta name='author' content='Ethan Morgan'>
	<link rel='icon' href='{{ url_for("static", filename="favicon.png") }}'>
	<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="style.css") }}'>
</head>
<body style='margin: 0px'>
	<div class='site_header'>
		<a href='/' class='header_item'>Sudokugen.com</a>
		<a href='/create' class='header_item'>Generator</a>
		<a href='/solve' class='header_item'>Solver</a>
	</div>
	<div align='center' id='content'>
		{% block content %}
		{% endblock %}
	</div>
</body>