{% extends 'base.html' %}
{% block content %}

	<form method='POST' onkeypress='return event.keyCode != 13;'>
		<p class='choice_header'>Variant</p>
		<div class='choice_box'>
			{% for v in variants %}
			<input type='radio' name='variant' value='{{ v.code }}' required {% if v.code == 'KNIGHT' %}checked{% endif %}> {{ v.name }} <br>
			{% endfor %}
		</div>
		<p class='choice_header'>Symmetry</p>
		<div class='choice_box'>
			<input type='radio' name='symmetry' value='N' required checked> None <br>
			<input type='radio' name='symmetry' value='R' required> Rotational <br>
			<input type='radio' name='symmetry' value='H' required> Horizontal <br>
			<input type='radio' name='symmetry' value='V' required> Vertical <br>
			<input type='radio' name='symmetry' value='D+' required> Diagonal (+) <br>
			<input type='radio' name='symmetry' value='D-' required> Diagonal (-) <br>
		</div>
		<p class='choice_header'>Maximum Difficulty</p>
		<div class='choice_box'>
			<input id='difficulty_slider' type='range' name='difficulty' min='1.5' max='4' step='0.01' value='4'><br>
			<i>Difficulty: <i><span id='difficulty_display'></span>
		</div>
		<input id='generate_button' type='submit' value='Generate Sudoku' style='margin-top: 50px' onclick='loading();'>
	</form>
	<div style='min-height: 600px; height: auto; height: 600px'></div>

	<script type='text/javascript'>

		function loading() {
			document.getElementById("content").style.opacity = "0.5";
			document.getElementsByTagName("BODY")[0].style.cursor = "wait";
			document.getElementById("generate_button").style.cursor = "wait";
		}

		var slider = document.getElementById("difficulty_slider");
		var display = document.getElementById("difficulty_display");
		display.innerHTML = slider.value;

		slider.oninput = function() {
			display.innerHTML = this.value;
		}

	</script>

	<style>

		#difficulty_slider {
			width: 100%;
		}

		#difficulty_slider::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: 10px;
			height: 20px;
		}

	</style>

{% endblock %}