{% extends 'base.html' %}
{% block content %}

	<script src='{{ url_for("static", filename="sudoku_editor.js") }}'></script>

	<div style='width: 540px'>
		<div id='sudoku_info'>
			Variant: {{ variant }}<br>
			{% if difficulty == -1 %}
				<div style='color: red'>Unknown Difficulty</div>
			{% else %}
				<div>Difficulty Score: {{ difficulty }}</div>
			{% endif %}
		</div>
		<form class='sudoku_form'>
			{{ puzzle|safe }}
		</form>
		<div style='margin-top: 50px;'>
			<form action='/pdf' target='_blank' method='POST' onkeypress='return event.keyCode != 13;'>
				<input type='button' value='Export as Code...' onclick='toggle_code();' style='float: left;'>
				<input type='submit' value='Export as PDF...' style='float: left; margin-left: 15px;'>
				<input type='button' value='Clear Highlights' onclick='clear_highlights();' style='float: right; margin-left: 15px;'>
				<input type='button' id='pencil_toggle' value='Numbers' onclick='toggle_pencil();' style='float: right;'>
				<input type='hidden' name='variant' value='{{ v_code }}'>
				<input type='hidden' name='difficulty' value='{{ difficulty }}'>
				<input type='hidden' name='code' value='{{ code }}'>
			</form>
		</div> <br>
		<div align='center' class='sudoku_info' id='code' style='width: 100vw; margin-left: 50%; transform: translateX(-50%); margin-top: 20px; display: none; position: relative;'>
			<i>Code: </i><div style='font-family: Courier New, Courier; font-size: 12px;'>{{ code }}</div><br>
			<i>Static Link: </i><div style='font-family: Courier New, Courier; font-size: 12px;'>{{ "www.sudokugen.com"+url_for("load", v = v_code.lower(), code = c_code) }}</div>
		</div>
	</div>

	<script type='text/javascript'>

		function toggle_code() {
			var code = document.getElementById('code');
			if (code.style.display === 'none') {
				code.style.display = 'block';
			} else {
				code.style.display = 'none';
			}
		}

	</script>

{% endblock %}