<!doctype html>
<html>
	{% if v_code in ("CLASSIC", "KNIGHT") %}
		<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="sudoku_classic.css") }}'>
	{% elif v_code in ("BETWEEN") %}
		<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="sudoku_labeled.css") }}'>
	{% endif %}
	<div align='center' id='content' style='width: 433px; margin-left: 95px; font-family: Times New Roman, Times, serif;'>
		<p style='text-align: center; margin-bottom: 0; font-size: 30px;'>{{ variant }}</p>
		<p style='text-align: center; margin-bottom: 30px;'>
			{% if difficulty == -1 %}
				<i>Unknown Difficulty</i>
			{% else %}
				<i>Difficulty: {{ difficulty }}</i>
			{% endif %}
		</p>
		<form class='sudoku_form'>
			{{ puzzle|safe }}
		</form>
		<p style='text-align: center; margin-top: 30px;'><i>Sudokugen.com</i></p>
	</div>
</html>
<style>


{% if v_code in ("CLASSIC", "KNIGHT") %}
	.sudoku_tile {
		width: 11.1%;
	}
{% elif v_code in ("BETWEEN") %}
	.sudoku_tile {
		width: 10.0%;
	}
	.sudoku_container {
		width: 481.11px;
	}
{% endif %}

.sudoku_tile:after {
	margin-top: 0;
}

.sudoku_number {
	position: relative;
	overflow: show;
	font-size: 30px;
	padding: 2px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

</style>