{% extends 'base.html' %}
{% block content %}

	<form class='sudoku_form' method='POST' onkeypress='return event.keyCode != 13;'>
		<p class='choice_header'>Variant</p>
		<div class='choice_box'>
			<input type='radio' name='variant' value='KNIGHT' required checked> Knight sudoku <br>
		</div>
		<p class='choice_header'>Edit Grid:</p>
		<div style='width: 540px'>
			{{ puzzle|safe }}
		</div>
		<input id='solve_button' type='submit' value='Generate Solution' style='margin-top: 50px' onclick='loading();'>
	</form>

	<script type='text/javascript'>

		function loading() {
			document.getElementById("content").style.opacity = "0.5";
			document.getElementsByTagName("BODY")[0].style.cursor = "wait";
			document.getElementById("solve_button").style.cursor = "wait";
		}

	</script>

{% endblock %}