{% extends 'base.html' %}
{% block content %}

	<form class='sudoku_form' method='POST' onkeypress='return event.keyCode != 13;' action='/solve'>
		<div style='width: 50%; float: left'>
			<p class='choice_header'>Variant</p>
			<div class='choice_box'>
				<input type='radio' name='variant' value='KNIGHT' required checked> Knight Sudoku <br>
			</div>
		</div>
		<div style='width: 50%; min-width: 540px; float: left'>
			<div style='width: 540px; float: center'>
				<p class='choice_header'>Edit Grid:</p>
				{{ puzzle|safe }}
				<input id='solve_button' type='submit' value='Generate Solution' style='margin-top: 50px' onclick='loading();'>
			</div>
		</div>
	</form>

	<script type='text/javascript'>

		function loading() {
			document.getElementById("content").style.opacity = "0.5";
			document.getElementsByTagName("BODY")[0].style.cursor = "wait";
			document.getElementById("solve_button").style.cursor = "wait";
		}

	</script>

{% endblock %}